<div class="biz-listing">
  <div class="biz-thumb">
    <img src="<%= asset_path(business.avatar.url(:thumb)) %>">
  </div>

  <div class="biz-name">
    <%= link_to business.name, business %>
  </div>
  <div class="write-review">
    <a href="<%= new_business_review_url business %>" class="no-underline">
      Write A Review
    </a>
  </div>
  <div class="biz-rating">
    <% (business.average_rating.to_i).times do %>
      ★
    <% end %>
    <% (5 - business.average_rating.to_i).times do %>
      &#9734
    <% end %>
  </div>
  <div class="biz-ratings">
    <%= business.num_ratings %> Reviews
  </div>

  <div class="biz-address">
    <%= business.address %>
    <%= business.city_state_zip %>
    <%= business.phone_number %>
  </div>

  <div class="biz-review">
    <img src="<%= asset_path(business.reviews.last.author.avatar.url(:mini)) %>">
    <div class="biz-review-content">
      <%= business.reviews.last.content %>
    </div>
  </div>
</div>