<% if business.persisted? %>
  <form class="new-biz-form" action="<%= business_url business %>" method="post" enctype="multipart/form-data">
    <input type="hidden" name="_method" value="put">
<% else %>
  <form class="new-biz-form" action="<%= businesses_url %>" method="post" enctype="multipart/form-data">
<% end %>

  <%= form_token %>

  <label for="name">Business Name</label>
  <br>
  <input type="text" name="business[name]" value="<%= business.name %>" id="name" class="map-info">
  <br>

  <label for="address">Address</label>
  <br>
  <input type="text" name="business[address]" value="<%= business.address %>" id="address" class="map-info">
  <br>

  <label for="city_state_zip">City, State, and Zip</label>
  <br>
  <input type="text" name="business[city_state_zip]" value="<%= business.city_state_zip %>" id="city_state_zip" class="map-info">
  <br>

  <label for="country">Country</label>
  <br>
  <input type="text" name="business[country]" value="<%= business.country %>" id="country" class="map-info">
  <br>

  <label for="phone_number">Phone Number</label>
  <br>
  <input type="text" name="business[phone_number]" value="<%= business.phone_number %>" id="phone_number">
  <br>

  <label for="website_url">Website Address</label>
  <br>
  <input type="text" name="business[website_url]" value="<%= business.website_url %>" id="website_url">
  <br>

  <input type="checkbox" name="business[recent]" id="recent" value="true" <%= "checked" if business.recent == true %>>
  <label for"recent">This business recently opened or is opening soon.</label>
  <br>

  <label for="photo">Storefront Photo</label><br>
  <input type="file" id="photo" name="business[avatar]">
  <br>

  <% if !business.persisted? %>
  <input type="checkbox" name="business[review]" id="review" value="true" <%= "checked" %>>
  <label for"review">Write a review for this business.</label>
  <br>

  <div class="biz-review">
    <%= render partial: 'shared/insert_review', locals: { review: Review.new, business: business} %>
  </div>
  <% end %>

  <input type="submit" value="<%= verb %> Business">
  <%= link_to 'Cancel', :back %>
</form>

<div id="map" class="map"></div>

<script type="text/javascript">
  var userLocation = [parseFloat("<%= current_user.lat %>"),
                      parseFloat("<%= current_user.long %>")
                      ];
  var geocoder = L.mapbox.geocoder('winevitable.imnbaln0');
  var map = L.mapbox.map('map', 'winevitable.imnbaln0')
                    .setView(userLocation, 16);

  $('.map-info').keypress(function(event) {

    var address = document.getElementById("address").value;
    var addressTwo = document.getElementById("city_state_zip").value;
    var country = document.getElementById("country").value;
    var businessLocation = address + " " + addressTwo + " " + country;

    var showMap = function(err, data) {
      if (data.latlng) {
        map.setView([data.latlng[0], data.latlng[1]], 16);

        L.mapbox.featureLayer({
          type: 'Feature',
          geometry: {
            type: 'Point',
            coordinates: [
              data.latlng[1],
              data.latlng[0]
            ]
          },
          properties: {
            title: document.getElementById("name").value,
            description: businessLocation,
            'marker-size': 'medium',
            'marker-color': '#f44',
            'marker-symbol': 'star'
          }
        }).addTo(map);
      }
    };

    if (businessLocation) {
      geocoder.query(businessLocation, showMap);
    }
  });
</script>