<% if business.reviews.length > 0 %>
<h4><%= business.name + "'s Reviews" %></h4>

  <% business.reviews.reverse.each do |review| %>
    <article class="review">
      <div class="user-thumb">User Image</div>
      <div class="review-headline"><a href="<%= user_url review.author %>"><%= user_name(review.author)  %></a></div>
      <div class="reviewer-location"><%= review.author.location %></div>

      <div class="review-rating"><%= review.rating %></div>
      <div class="review-date"><%= review.created_at.strftime("%m/%d/%Y") %></div>
      <div class="review-content"><%= review.content %></div>

      <% if review.author == current_user %>
        <%= render partial: 'reviews/edit', locals: { review: review } %>
        <%= render partial: 'reviews/delete', locals: { review: review } %>
      <% end %>

    </article>
    <br>
  <% end %>

<% elsif (current_user == business.owner) %>

  <p>Your business has yet to be reviewed. Why not encourage your customers to post some?</p>

<% else %>

  <p>This business has yet to be reviewed.</p>

<% end %>