<% if business.reviews.length > 0 %>
<h4><%= business.name + "'s Reviews" %></h4>
  <ul class="reviews">
    <% business.reviews.each do |review| %>
      <ul>
        <li>User Image</li>
        <li><a href="<%= user_url review.author %>"><%= user_name(review.author)  %></a></li>
        <li><%= review.author.location %></li>

        <li><%= review.rating %></li>
        <li><%= review.created_at.strftime("%m/%d/%Y") %></li>
        <li><%= review.content %></li>
        <% if review.author == current_user %>
          <li><a href="<%= edit_review_url review %>">Edit Review</a></li>
        <% end %>
      </ul>
      <br>
    <% end %>
</ul>
<% elsif (current_user == business) %>
  <p>You haven't posted any reviews yet. Why not post one <a href="#">now</a>?</p>
<% else %>
  <p>This user has yet to post a review.</p>
<% end %>