<h2><%= @business.name %></h2>
<p>Average review.</p>

<button class="write-review">Write a Review</button>

<ul class="buttons">
  <li><%= button_to "Add Photo", root_url %></li>
  <li><%= button_to "Share", root_url %></li>
  <li><%= button_to "Bookmark", root_url %></li>
</ul>

<p>Info with Google Map</p>

<p>Photos</p>

<p>Reviews</p>

<a href="<%= edit_business_url @business.id %>">Edit</a>