<h2><%= @business.name %></h2>
<%= @business.average_rating %>
<%= @business.num_reviews + " reviews"  %>

<%= button_to "Write a Review", new_business_review_url(@business), class: "write-review", method: :get %>

<ul class="buttons">
  <li><%= button_to "Add Photo", root_url %></li>
  <li><%= button_to "Share", root_url %></li>
  <li><%= button_to "Bookmark", root_url %></li>
</ul>

<p>Info with Google Map</p>

<p>Photos</p>

<section class="business-reviews">
  <%= render partial: 'reviews', locals: { business: @business } %>
</section>

<a href="<%= edit_business_url @business.id %>">Edit</a>