<section class="user-profile">
  <section class="user-greeting group">
    <% if (user.escape('nickname')) { %>
      <h2><%= user.escape('fname') + " \"" %><em><%= user.escape('nickname') %></em> <%= "\" " + user.escape('lname')[0] %>.'s Profile</h2>
    <% } else { %>
      <h2><%= user.escape('fname') + " " + user.escape('lname')[0] %>.'s Profile</h2>
    <% } %>

    <% if (user.escape('id') == YelpLite.currentUser.escape('id')) { %>
      <a class="nickname" href="/users/<%= user.escape('id') %>/edit">
        <%= user.escape('nickname') ? "[Edit nickname]" : "[Add nickname]" %></a>
    <% } %>
  </section>

  <section class="user-info">
    <div class="user-thumb">
      <img src="<%= user.escape('avatar_profile') %>">
    </div>

    <!-- <p>&#9733; Follower Count...</p> -->

    <ul class="user-data">
      <% if (user.escape('id') != YelpLite.currentUser.escape('id')) { %>
        <li>&hearts;<a href="#">Follow this Reviewer</a></li>
      <% } %>
      <li>Location<br>
        <%= user.escape('location') %>
      </li>
      <li>Yelping Since<br>
        <%= user.escape('created_at') + " " +
            user.escape('created_at') %>
      </li>
      <li>Things I Love<br>
        <% if (user.escape('id') != YelpLite.currentUser.escape('id')) { %>
          <%= user.escape('things_i_love') || "They haven't told us yet ..." %>
        <% } else { %>
          <%= user.escape('things_i_love') || "You haven't told us yet ... do tell!" %>
        <% } %>
      </li>
      <% if (user.escape('hometown')) { %>
        <li>My Hometown<br>
          <%= user.escape('hometown') %>
        </li>
      <% } %>
      <li><a href="/users/<%= user.escape('id') %>/edit">Update Your Profile</a></li>
    </ul>
  </section>

  <section class="user-reviews">
    <% if (user.reviews.length > 0) { %>
      <% if (user.escape('id') == YelpLite.currentUser.escape('id')) { %>
        <h4>Your Reviews</h4>
      <% } else { %>
        <h4><%= user.escape('fname') + "'s Reviews" %></h4>
      <% } %>

      <ul class="reviews">
        <% _.each(user.reviews, function(review) { %>
          <article class="review">
            <div class="user-thumb">
              <img src="<%= review.business.escape('avatar_mini') %>">
            </div>

            <div class="review-info">
              <div class="review-headline">
                <a href="/businesses/<%= review.business.escape('id') %>"><%= review.business.escape('name') %></a>
              </div>

              <% if (review.author.escape('id') == current_user.escape('id')) { %>
                <div class="review-remove">
                  <button class="delete-review" data-id="<%= review.escape('id') %>">
                    Remove Review
                  </button>
                </div>
                <div class="review-edit">
                  <a href="/reviews/<%= review.escape('id') %>/edit">
                    Edit Review
                  </a>
                </div>
              <% } %>

              <div class="time-ago">
                <%= review.business.escape('address') %><br>
                <%= review.business.escape('city_state_zip') %><br>
                <%= review.business.escape('country') %>
              </div>

              <div class="review-rating"><%= review.escape('rating') %></div>

              <div class="review-date">
                <%= review.escape('created_at') %>
              </div>

              <div class="review-content"><%= review.escape('content') %></div>
            </div>
          </article>
        <% }); %>
      </ul>
    <% } else if (user.escape('id') == YelpLite.currentUser.escape('id')) { %>
      <div class="no-reviews">
        You haven't posted any reviews yet. Why not post one <a href="#">now</a>?
      </div>
    <% } else { %>
      <div class="no-reviews">This user has yet to post a review.</div>
    <% } %>
  </section>

  <!-- <section class="followings">
    <p>Plug in Users Following and Businesses Bookmarked</p>
  </section> -->
</section>