<section class="user-edit-page">
  <h2>Your Public Profile</h2>
  <p class="phrase">
    So who are you, then? Tell the rest of YelpLite about your self.
  </p>

  <form class="user-edit-form" action="<%= user_url @user %>" method="post" enctype="multipart/form-data">
    <input type="hidden" name="_method" value="put">

    <%= form_token %>

    <input type="submit" value="Save Changes">

    <div class="user-thumb">
      <img src="<%= @user.avatar.url(:profile) %>">
    </div>

    <label for="first-name">First Name</label>
    <small>This field is required.</small>
    <input type="text" id="first-name" name="user[fname]" value="<%= @user.fname %>">

    <label for="last-name">Last Name</label>
    <small>This field is required. Only your last initial will show on your profile.</small>
    <input type="text" id="last-name" name="user[lname]" value="<%= @user.lname %>">

    <label for="nickname">Nickname</label>
    <small>Primetime, Captain America, wInevitable</small>
    <input type="text" id="nickname" name="user[nickname]" value="<%= @user.nickname %>">

    <label for="loves">I Love...</label>
    <small>Comma separated phrases (e.g. barbeque, beer, long walks on the beach)</small>
    <input type="text" id="loves" name="user[things_i_love]" value="<%= @user.things_i_love %>">

    <label for="hometown">Hometown</label>
    <small>Baltimore, MD</small>
    <input type="text" id="hometown" name="user[hometown]" value="<%= @user.hometown %>">

    <label for="photo">Photo</label>
    <input type="file" id="photo" name="user[avatar]">

    <div class="user-form-buttons">
      <input type="submit" value="Save Changes">
      <a class="cancel" href="<%= user_url @user %>">Cancel</a>
    </div>
  </form>
</section>