<section class="user-profile">
  <section class="user-greeting group">
    <% if @user.nickname %>
      <h2><%= @user.fname + " \"" %><em><%= @user.nickname %></em> <%= "\" " + @user.lname[0] %>.'s Profile</h2>
    <% else %>
      <h2><%= @user.fname + " " + @user.lname[0] %>.'s Profile</h2>
    <% end %>

    <% if @user == current_user %>
      <a class="nickname" href="<%= edit_user_url @user %>">
        <%= @user.nickname ? "[Edit nickname]" : "[Add nickname]" %></a>
    <% end  %>
  </section>

  <section class="user-info group">
    <div class="user-thumb">
      <img src="<%= @user.avatar.url(:profile) %>">
    </div>

    <!-- <p>&#9733; Follower Count...</p> -->

    <ul class="user-data">
<!--       <% if @user != current_user %>
        <li>&hearts;<a href="#">Follow this Reviewer</a></li>
      <% end %> -->
      <li>Location
        <ul>
          <li><%= @user.location %></li>
        </ul>
      </li>
      <li>Yelping Since
        <ul>
          <li><%= Date::MONTHNAMES[@user.created_at.strftime("%m").to_i] + " " +
            @user.created_at.strftime("%Y") %>
          </li>
        </ul>
      </li>
      <li>Things I Love
        <ul>
          <% if @user != current_user %>
            <li>
              <%= @user.things_i_love || "They haven't told us yet ..." %>
            </li>
          <% else %>
            <li>
              <%= @user.things_i_love || "You haven't told us yet ... do tell!" %>
            </li>
          <% end %>
        </ul>
      </li>
      <% if @user.hometown %>
        <li>My Hometown
          <ul>
            <li><%= @user.hometown %></li>
          </ul>
        </li>
      <% end %>
      <% if @user == current_user %>
        <li>
          <a href="<%= edit_user_url @user %>">Update Your Profile</a>
        </li>
      <% end %>
    </ul>
  </section>

  <section class="user-reviews">
    <%= render partial: 'reviews/user_reviews', locals: { user: @user } %>
  </section>

  <!-- <section class="followings">
    <p>Plug in Users Following and Businesses Bookmarked</p>
  </section> -->
</section>