<header class="header">
  <div class="header-wrap group">
    <h1 class="header-logo">
      <a class="no-underline" href="<%= root_url %>">YelpLite</a>
    </h1>

    <div class="header-middle">
      <form class="search-form" action="<%= search_url %>" method="get">
        <div class="post-form-input">
          <label for="find">Find</label>
          <input type="text" id="find" name="query[find]">
        </div>

        <div class="post-form-input">
          <label for="near">Near</label>
          <input type="text" id="near" name="query[near]" value="<%= current_user.location if current_user && current_user.location %>">
        </div>

        <div class="post-form-submit">
          <input type="submit" id="search-button" value="">
        </div>
      </form>

      <nav class="header-nav">
        <ul>
          <li><a class="no-underline" href="/">Home</a></li>

          <% if current_user %>
            <li><a class="no-underline" href="<%= user_url current_user %>">
              About Me</a></li>
          <% else %>
            <li><a class="no-underline" href="<%= new_user_url %>">
              About Me</a></li>
          <% end %>

          <li><a class="no-underline" href="<%= search_url %>">
            Write a Review</a></li>
        </ul>
      </nav>
    </div>

    <div class="header-buttons">
      <% if current_user %>
        <div class="header-user-thumb">
          <img src="<%= current_user.avatar.url(:mini) %>">
        </div>
        <ul class="header-dropdown">
          <li><a class="no-underline" href="<%= user_url current_user %>">
            About Me</a></li>
          <li><a class="no-underline" href="<%= search_url %>">
            Write a Review</a></li>
          <li><a class="no-underline" href="<%= new_business_url %>">
            Add a Business</a></li>
          <li><%= button_to "Log Out", session_url, method: :delete %></li>
        </ul>
      <% else %>
        <div class="header-sessions">
          <a class="header-sign-up no-underline" href="<%= new_user_url %>">
            Sign Up</a>
          <a class="header-log-in" href="<%= new_session_url %>">Log In</a>
        </div>
      <% end %>
    </div>
  </div>
</header>