<% if business && business.persisted? %>

  <form class="review-form" action="<%= business_reviews_url business %>" method="post">
    <div class="biz-name">
      <a href="<%= business_url business %>"><%= business.name %></a>
    </div>

    <%= form_token %>

<% end %>
      <p class="review-words">Call the FSIS!</p>
      <label for="1" class="review-box">☆</label>
      <p class="review-words">Eh, I've had better.</p>
      <label for="2" class="review-box">☆</label>
      <p class="review-words">Not the worst...</p>
      <label for="3" class="review-box">☆</label>
      <p class="review-words">New favorite place!</p>
      <label for="4" class="review-box">☆</label>
      <p class="review-words">Mi Amore!</p>
      <label for="5" class="review-box">☆</label>

      <input type="radio" class="rating-radio" name="review[rating]" id="1" value="1" <%= "checked" if review.rating == 1 %>>

      <input type="radio" class="rating-radio" name="review[rating]" id="2" value="2" <%= "checked" if review.rating == 2 %>>

      <input type="radio" class="rating-radio" name="review[rating]" id="3" value="3" <%= "checked" if review.rating == 3 %>>

      <input type="radio" class="rating-radio" name="review[rating]" id="4" value="4" <%= "checked" if review.rating == 4 %>>

      <input type="radio" class="rating-radio" name="review[rating]" id="5" value="5" <%= "checked" if review.rating == 5 %>>

    <textarea id="review-content" name="review[content]">
      <%= review.content %>
    </textarea>

<% if business && business.persisted? %>
    <div class="form-buttons group">
      <a class="cancel" href="#">Cancel</a>
      <input type="submit" class="post-submit" value="Post Review">
    </div>
  </form>
<% end %>
