<section class="review">
  <h3><%= @business.name %></h3>

  <div class="business-address">
    <p><%= @business.address %></p>
    <p><%= @business.city_state_zip %></p>
  </div>

<% if @review.persisted? %>
  <form action="<%= review_url @review %>" method="post">
    <input type="hidden" name="_method" value="put">
<% else %>
  <form action="<%= business_reviews_url @business %>" method="post">
<% end %>

    <%= form_token %>

    <label>Rating</label>

    <input type="radio" name="review[rating]" id="rating-1" value="1" <%= "checked" if @review.rating == 1 %>>

    <input type="radio" name="review[rating]" id="rating-2" value="2" <%= "checked" if @review.rating == 2 %>>

    <input type="radio" name="review[rating]" id="rating-3" value="3" <%= "checked" if @review.rating == 3 %>>

    <input type="radio" name="review[rating]" id="rating-4" value="4" <%= "checked" if @review.rating == 4 %>>

    <input type="radio" name="review[rating]" id="rating-5" value="5" <%= "checked" if @review.rating == 5 %>>

    <label for="rating-1">Cockroaches, Rats, and Things...</label>
    <label for="rating-2">Eh, I've had better.</label>
    <label for="rating-3">Okay.</label>
    <label for="rating-4">New favorite place!</label>
    <label for="rating-5">Oh baby, that was delicious!</label>

    <br>
    <label for="review-content">Your review</label>
    <textarea id="review-content" name="review[content]"><%= @review.content %></textarea>
    <a href="#" class="guidelines-link">Read our review guidelines</a>

    <%= link_to "Cancel", :back %>
    <input type="submit" value="Post">
  </form>

    <small>* You can always edit or remove reviews later.</small>
</section>

<section class="review-sidebar">
  <h4>Reviews for <%= @business.name %></h4>

  <ul class="reviews">
    <% if @business.reviews.length > 0 %>
      <% reviews(@business, 5).each do |review| %>
        <ul>
          <li><a href="<%=  user_url review.author %>"><%= review.author.fname + " " + review.author.lname[0] + "." %></a></li>
          <li><%= review.rating %></li>
          <li><%= review.created_at.strftime("%m/%d/%Y") %></li>
          <li><%= review.content %></li>
        </ul>
      <% end %>
    <% end %>
  </ul>
</section>