<!DOCTYPE html>
<html>
<head>
  <title>YelpLite</title>

  <!-- MAPBOX -->
  <%= stylesheet_link_tag 'https://api.tiles.mapbox.com/mapbox.js/v1.6.4/mapbox.css' %>
  <%= javascript_include_tag 'https://api.tiles.mapbox.com/mapbox.js/v1.6.4/mapbox.js' %>

  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "shared/header" %>

  <% if flash[:errors] %>
    <em><%= render "shared/notices" %></em>
  <% end %>

  <div class="content group">
    <%= yield %>
  </div>

  <%= render "shared/footer" %>

  <script>
    $(document).ready(function() {

      $('#review-content').focus(function() {
        $(this).addClass("show");
      });

      $('#review-content').blur(function() {
        if ($(this).val() == "") {
          $(this).removeClass("show");
        }
      });

      $('.header-buttons').click(function(){
        $('.header-dropdown').toggleClass('show');
      });

      $('.content').click(function(){
        $('.header-dropdown').removeClass('show');
      });

      $('.review-box').hover(function() {
        if(!$('.rating-radio').is(':checked')) {
          $(this).prevAll('label').andSelf().text("★");
          $(this).prevAll('label').andSelf().addClass('color');
          $(this).prev('p').addClass("review-show-words");
        }
      }, function() {
        if(!$('.rating-radio').is(':checked')) {
          $(this).prevAll('label').andSelf().text("☆");
          $(this).prevAll('label').andSelf().removeClass('color');
          $(this).prev('p').removeClass("review-show-words");
        }
      });

      $('.review-box').click(function() {
        $(this).prevAll('label').andSelf().text("★");
        $(this).prevAll('label').andSelf().addClass('color');
        $(this).prevAll('p').removeClass("review-show-words");
        $(this).prev('p').addClass("review-show-words");
        $(this).nextAll('label').text("☆");
        $(this).nextAll('label').removeClass('color');
        $(this).nextAll('p').removeClass("review-show-words");
      });
    });
  </script>
</body>
</html>
