<!DOCTYPE html>
<html>
<head>
  <title>YelpLite</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <p>YelpLite Logo</p>

    <nav>
      <form action="<%= search_url %>" method="get">
        <label for="find">Find</label>
        <input type="text" id="find" name="query[find]">

        <label for="near">Near</label>
        <input type="text" id="near" name="query[near]">

        <input type="submit" id="search-button" value="Search">
      </form>

      <ul>
        <li><a href="/">Home</a></li>

        <% if current_user %>
          <li><a href="<%= user_url current_user.id %>">About Me</a></li>
        <% else %>
          <li><a href="<%= new_user_url %>">About Me</a></li>
        <% end %>

        <li><a href="#">Write a Review</a></li>
      </ul>
    </nav>
    <% if current_user %>
      <p>User Profile Button</p>
      <ul>
        <li><a href="<%= user_url current_user.id %>">About Me</a></li>
        <li><a href="#">Write a Review</a></li>
        <li><a href="<%= new_business_url %>">Add a Business</a></li>
        <li><%= button_to "Log Out", session_url, method: :delete %></li>
      </ul>
    <% else %>
      <a href="<%= new_user_url %>">Sign Up</a>
      <a href="<%= new_session_url %>">Log In</a>
    <% end %>
    <hr>
  </header>

  <!-- ERRORS and NOTICES -->
  <% if flash %>
    <p><%= flash[:errors] %></p>
  <% end %>

<%= yield %>

  <footer>
    <hr>
      <h3>About</h3>
        <ul>
          <li><a href="#">About YelpLite</a></li>
          <li><a href="#">Terms of Service</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      <h3>Help</h3>
        <ul>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Content Guidelines</a></li>
          <li><a href="#">Contact YelpLite</a></li>
        </ul>
      <h3>More</h3>
        <ul>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Top Searches</a></li>
        </ul>

      <p>Footer Image</p>
  </footer>
</body>
</html>
